.lesson-card {
  border-radius: 10px;
  padding: 12px;
  margin: 10px auto;
  max-width: 600px;
  background-color:  #2c2c2c;
  cursor: pointer;
}

.lesson-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  background-color: #363636;
}

.lesson-header-card {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-placeholder {
  font-size: 20px;
}

.info .name {
  font-weight: bold;
  display: block;
}

.info .time {
  color: gray;
  font-size: 0.85em;
}

.lesson-image img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.lesson-content h3 {
  margin: 5px 0;
}

.lesson-content p {
  color: #cdcdcd;
}

.title-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.lesson-title {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
}

.lesson-rating {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.95em;
  color: #ccc;
}

.lesson-rating .star {
  color: gold;
}

.lesson-rating .score {
  color: #ccc;
}

.lesson-delete-btn {
  position: absolute;
  top: 8px;
  right: 8px;
background: transparent;

  border: none;
  color: rgb(255, 149, 149);

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease;
  z-index: 10;
}

.lesson-delete-btn:hover {
  background: rgb(88, 88, 88);
}
